* {
    margin: 0;
    padding: 0;
}


.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
}

p {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar {
    background-color: rgb(209, 207, 207);
}

input {
    height: 25px;
    border-radius: 5px;
    background-color: aliceblue;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

legend {
    font-size: 1.3rem;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    color: rgb(121, 81, 81);
}

.addBook {
    width: 100px;
    border-radius: 5px;
    margin-top: 20px;
    height: 35px;
    align-self: center;
    background-color: rgb(121, 81, 81);
    color: white;
    font-weight: 900;
}

.card-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(autofit, minmax(200px, 1fr));
    gap: 10px;
    background-color: rgb(121, 81, 81);
}

