* {
    margin: 0;
    padding: 0;
}


.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
}

p {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar {
    background-color: rgb(209, 207, 207);
}

input, select {
    height: 25px;
    border-radius: 5px;
    border: 2px solid rgb(121, 81, 81);
    background-color: aliceblue;
}

label {
    color: rgb(121, 81, 81);
    font-weight: 900;
}

select {
    height: 30px;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

legend {
    font-size: 1.5rem;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    color: rgb(121, 81, 81);
}

.addBook, .reset {
    width: 100px;
    border-radius: 5px;
    margin-top: 20px;
    height: 35px;
    align-self: center;
    background-color: rgb(121, 81, 81);
    color: white;
    font-weight: 900;
}

.card-container {
    display: flex;
    background-color: rgb(141, 111, 111); 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.info {
    height: 30px; 
    margin: 5px; 
    background-color: white; 
    display:flex; 
    color: rgb(121, 81, 81); 
    justify-content:start;
    border: 1px solid rgb(121, 81, 81);
    align-items: center;
    border-radius: 5px;
    padding-left: 5px;
}

.book {
    display:flex; 
    flex-direction: column; 
    height: 300px; 
    width: 350px; 
    margin: 20px; 
    color:rgba(129, 72, 72, 1); 
    padding: 20px; 
    border: 2px solid rgb(121, 81, 81); 
    border-radius: 10px; 
    white-space: pre;
}

.remove {
    align-self:center; 
    margin-top: 25px; 
    width: 100px; 
    border-radius: 5px; 
    height: 35px; 
    background-color: rgb(121, 81, 81); 
    color: white; 
    font-weight: 900;
}

.read {
    align-self:center; 
    margin-top: 25px; 
    width: 100px; 
    border-radius: 5px; 
    height: 35px; 
    background-color: rgb(121, 81, 81); 
    color: white; 
    font-weight: 900;
}

main {
    position: relative;
}

h1 {
    color: rgb(209, 207, 207);
    position: absolute;
    top: 45vh;
    left: 25vw;
}